
<div class="carts-containers">
  <div class="carts-search-add">
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label >Search 🔎</mat-label>
      <input matInput name="filterName" [(ngModel)]="filterName"  (ngModelChange)="onSelected()" >
    </mat-form-field >
    <button mat-raised-button class="custom-mat-form-button" color="primary" (click)="handleAddEmployee()">ADD EMPLOYEE</button>
  </div>
  <h2 class="carts-title">EMPLOYEE DETAILS</h2>
  <div class="carts-details">



    <div *ngFor="let employee of employees$ | async">
        <app-employee-cart [id]="employee.id"
                           [firstName]="employee.firstName"
                           [lastName]="employee.lastName"
                           [email]="employee.email"
                           [phone]="employee.phone"
                           [authority]="employee.authority"
                           [employee$]="employees$"
                           (employeeUpdated)="onUpdate()"
        ></app-employee-cart>
    </div>
  </div>

</div>


