.em-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-mat-form-field{
  width: 60%;
}

.em-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.custom-mat-form-button{
  width: 30%;
}



.employee-list-navigate-name{
  cursor: pointer;
}

