<div class="employee-container">
  <div class="employee-fields">
    <div class="employee-title">Create Employee</div>
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label >First Name</mat-label>
      <input matInput name="firstName" [(ngModel)]="firstName" required>
    </mat-form-field >
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label>Last Name</mat-label>
      <input matInput name="lastName" [(ngModel)]="lastName" required>
    </mat-form-field>
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label>Email</mat-label>
      <input matInput name="email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label>Authority</mat-label>
      <mat-select multiple required name="authority" [(ngModel)]="authority">
        <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
        <mat-option value="MANAGER">MANAGER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="custom-mat-form-button" color="primary" (click)="onSubmit()" [disabled]="!firstName || !lastName || !email || !authority">SUBMIT</button>
  </div>
</div>

